{% extends "includes/layout.html" %}
{% load static %}

{% block main %}
{% if request.user.team_type == "Montaj" %}
<div class="container">
    <div class="row">
        <div class="col-md-3 text-center">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'images/tb2.jpg' %}" class="card-img-top" style="max-height: 157px;" alt="TB2">
                <div class="card-body">
                    <h5 class="card-title">TB2</h5>
                    <div class="row card-text fw-bold">
                        <div class="col-md-6 align-content-center my-3">
                            Kanat:<br><span id="TB2-Kanat"><span class="placeholder col-1"></span></span> / 2
                            <br>
                            Gövde:<br><span id="TB2-Gövde"><span class="placeholder col-1"></span></span> / 1
                        </div>
                        <div class="col-md-6 align-content-center">
                            Kuyruk:<br><span id="TB2-Kuyruk"><span class="placeholder col-1"></span></span> / 1
                            <br>
                            Aviyonik:<br><span id="TB2-Aviyonik"><span class="placeholder col-1"></span></span> / 1
                        </div>
                    </div>
                    <button type="button" onclick="createPlane(event)" data-plane="TB2" class="btn btn-primary" disabled>Üret</button>
                </div>
            </div>
        </div>
        <div class="col-md-3 text-center">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'images/tb3.jpg' %}" class="card-img-top" style="max-height: 157px;" alt="TB3">
                <div class="card-body">
                    <h5 class="card-title">TB3</h5>
                    <div class="row card-text fw-bold">
                        <div class="col-md-6 align-content-center my-3">
                            Kanat:<br><span id="TB3-Kanat"><span class="placeholder col-1"></span></span> / 2
                            <br>
                            Gövde:<br><span id="TB3-Gövde"><span class="placeholder col-1"></span></span> / 1
                        </div>
                        <div class="col-md-6 align-content-center">
                            Kuyruk:<br><span id="TB3-Kuyruk"><span class="placeholder col-1"></span></span> / 1
                            <br>
                            Aviyonik:<br><span id="TB3-Aviyonik"><span class="placeholder col-1"></span></span> / 1
                        </div>
                    </div>
                    <button type="button" onclick="createPlane(event)" data-plane="TB3" class="btn btn-primary" disabled>Üret</button>
                </div>
            </div>
        </div>
        <div class="col-md-3 text-center">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'images/akıncı.jpeg' %}" class="card-img-top" style="max-height: 157px;" alt="AKINCI">
                <div class="card-body">
                    <h5 class="card-title">AKINCI</h5>
                    <div class="row card-text fw-bold">
                        <div class="col-md-6 align-content-center my-3">
                            Kanat:<br><span id="AKI-Kanat"><span class="placeholder col-1"></span></span> / 2
                            <br>
                            Gövde:<br><span id="AKI-Gövde"><span class="placeholder col-1"></span></span> / 1
                        </div>
                        <div class="col-md-6 align-content-center">
                            Kuyruk:<br><span id="AKI-Kuyruk"><span class="placeholder col-1"></span></span> / 1
                            <br>
                            Aviyonik:<br><span id="AKI-Aviyonik"><span class="placeholder col-1"></span></span> / 1
                        </div>
                    </div>
                    <button type="button" onclick="createPlane(event)" data-plane="AKI" class="btn btn-primary" disabled>Üret</button>
                </div>
            </div>
        </div>
        <div class="col-md-3 text-center">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'images/kızılelma.jpg' %}" class="card-img-top" style="max-height: 157px;" alt="KIZILELMA">
                <div class="card-body">
                    <h5 class="card-title">KIZILELMA</h5>
                    <div class="row card-text fw-bold">
                        <div class="col-md-6 align-content-center my-3">
                            Kanat:<br><span id="KIZ-Kanat"><span class="placeholder col-1"></span></span> / 2
                            <br>
                            Gövde:<br><span id="KIZ-Gövde"><span class="placeholder col-1"></span></span> / 1
                        </div>
                        <div class="col-md-6 align-content-center">
                            Kuyruk:<br><span id="KIZ-Kuyruk"><span class="placeholder col-1"></span></span> / 1
                            <br>
                            Aviyonik:<br><span id="KIZ-Aviyonik"><span class="placeholder col-1"></span></span> / 1
                        </div>
                    </div>
                    <button type="button" onclick="createPlane(event)" data-plane="KIZ" class="btn btn-primary" disabled>Üret</button>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
<h1 class="text-center mb-4">Üretilen Uçak Listesi</h1>
<table class="table table-striped table-hover align-middle">
    <thead>
        <tr>
            <th class="text-center">ID</th>
            <th class="text-center">Uçak Tipi</th>
            <th class="text-center">Personel</th>
            <th class="text-center">Üretim Tarihi</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% comment %} API ile otomatik doldurulacak {% endcomment %}
        {% for i in '0123456789'|make_list %}
        <tr>
            <td class="col-3">
                <div class="placeholder-glow">
                    <span class="placeholder placeholder-lg col-12"></span>
                </div>
            </td>
            <td class="col-3">
                <div class="placeholder-glow">
                    <span class="placeholder placeholder-lg col-12"></span>
                </div>
            </td>
            <td class="col-3">
                <div class="placeholder-glow">
                    <span class="placeholder placeholder-lg col-12"></span>
                </div>
            </td>
            <td class="col-3">
                <div class="placeholder-glow">
                    <span class="placeholder placeholder-lg col-12"></span>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br><br>
{% else %}
<h1>Oops, buraya nasıl geldin? Bir hata yapmış olmalıyım...</h1>
{% endif %}
{% endblock main %}

{% block scripts %}
<script>
    function reload() {
        fetchPlanes();
        fetchParts();
    }
</script>
<script>
function fetchPlanes() {
    fetch(`/api/v1/plane/list/`, {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json',
        },
        credentials: 'include',
    })
    .then(response => {
        if (!response.ok) {
            Swal.fire({
                icon: 'error',
                title: 'HTTP Error! Status:' + response.status,
                confirmButtonText: 'Tamam',
            });
            return;
        }
        return response.json();
    })
    .then(data => {
        const tbody = document.querySelector('table.table tbody');
        tbody.innerHTML = '';
        data.forEach(plane => {
            const createdAt = new Date(plane.created_at);

            const formattedDate = createdAt.toLocaleString('tr-TR', {
                year: 'numeric',
                month: '2-digit',
                day: '2-digit',
                hour: '2-digit',
                minute: '2-digit',
                hour12: false
            });
            const row = document.createElement('tr');
            row.innerHTML = `
                <td class="text-center">${plane.id}</td>
                <td class="text-center">${plane.full_plane_type}</td>
                <td class="text-center">${plane.employee.full_name}</td>
                <td class="text-center">${formattedDate}</td>
            `;
            tbody.appendChild(row);
        });
    })
    .catch(error => {
        Swal.fire({
            icon: 'error',
            title: 'Bir hata oluştu! ' + error,
            confirmButtonText: 'Tamam',
        });
    });
}

document.addEventListener('DOMContentLoaded', () => {
    fetchPlanes();
    fetchParts();
});

function getGroupCount(results, planeType, partType) {
    return results[planeType]?.[partType]?.length || 0;
}

function fetchParts() {
    fetch(`/api/v1/part/grouped/`, {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json',
        },
        credentials: 'include',
    })
    .then(response => {
        if (!response.ok) {
            Swal.fire({
                icon: 'error',
                title: 'HTTP Error! Status:' + response.status,
                confirmButtonText: 'Tamam',
            });
            return;
        }
        return response.json();
    })
    .then(results => {
        console.log(results);
        const PLANE_TYPES = ['TB2', 'TB3', 'AKI', 'KIZ'];
        const PART_TYPES = ['Kanat', 'Gövde', 'Kuyruk', 'Aviyonik'];

        PLANE_TYPES.forEach(plane_type => {
            var canProduce = true;
            PART_TYPES.forEach(part_type => {
                var groupCount = getGroupCount(results, plane_type, part_type);
                var color = part_type != 'Kanat' ? (groupCount >= 1 ? 'green' : 'red') : (groupCount >= 2 ? 'green' : 'red')
                document.getElementById(plane_type + "-" + part_type).innerHTML = groupCount;
                document.getElementById(plane_type + "-" + part_type).style.color = color;

                if (color == 'red')
                {
                    canProduce = false;
                }
            });
            const produceButton = document.querySelector(`button[data-plane="${plane_type}"]`);
            if (canProduce) {
                produceButton.removeAttribute('disabled');
            } else {
                produceButton.setAttribute('disabled', 'true');
            }
        });
    })
    .catch(error => {
        Swal.fire({
            icon: 'error',
            title: 'Bir hata oluştu! ' + error,
            confirmButtonText: 'Tamam',
        });
    });
}
</script>
<script>
function createPlane(event) {
    const button = event.target;
    const plane_type = button.getAttribute('data-plane');

    fetch(`/api/v1/plane/create/`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFTOKEN' : '{{csrf_token}}'
        },
        credentials: 'include',
        body: JSON.stringify({plane_type: plane_type})
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            Swal.fire({
                icon: 'success',
                title: 'Uçak başarıyla oluşturuldu!',
                confirmButtonText: 'Tamam',
            });
            reload();
        }
        else {
            Swal.fire({
                icon: 'error',
                title: 'Uçak oluşturulurken bir hata oluştu! ' + data.error,
                confirmButtonText: 'Tamam',
            });
        }
    })
    .catch(error => {
        Swal.fire({
            icon: 'error',
            title: 'Bir hata oluştu! ' + error,
            confirmButtonText: 'Tamam',
        });
    });
}
</script>
{% endblock scripts %}